@import "../../assets/stylesheets/spacing";
@import "../../assets/stylesheets/colors";


.navbar-header {
    display: flex;
    margin-bottom: $medium-padding;

    border-bottom: solid 1px $background-gray;
}

.navbar-item {
    padding-left: $tiny-padding;
    padding-right: $tiny-padding;
    padding-bottom: 4px;
    margin-right: $small-padding;
    color: $text-gray;


    &.active {
        border-bottom: solid 3px $black;
        color: $black;
    }
}